@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

@function rem-calc($size) {
  $value: calc($size / 16);
  @return #{$value}rem;
}

$bg-main: #331c52;
$bg-second: #1a1919;
$bg-linear: linear-gradient(
  0deg,
  rgba(41, 28, 58, 1) 10%,
  rgba(51, 28, 82, 1) 100%
);

$primary-text: #e3185e;

$border-color: #fcee0a;

$primary-font: "Quicksand", sans-serif;
