@import "../../scss-config/variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  z-index: 9;
}

.navbar {
  color: white;
  position: fixed;
}

li {
  padding: 10px;
}

a {
  color: white;
  font-family: "Cormorant Garamond", serif;
  text-decoration: none;
  color: white;
  font-weight: 700;
  vertical-align: top;

  text-justify: start;

  &:focus {
    color: gold;
  }
}

.logo-img {
  width: 70px;
  height: 70px;
  align-self: center;
  justify-self: center;

  animation: floatAnimation 1.5s ease-in-out infinite alternate;
}

@keyframes floatAnimation {
  0% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
  }
}
// TO MEXENDO AQUI
.container-fluid {
  position: relative;
}

.navbar-container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;

  .toggle-icon-img {
    height: 30px;
    margin: 0;
    padding: 0;
    width: 30px;
  }
  .navbar-toggler {
    width: 70px;
    height: 70px;
  }
}

.navbar-collapse {
  position: absolute;
  right: 10px;
  top: 80%;
}

.li-hover {
  position: relative;
  font-weight: bold;

  &::before {
    content: "";
    background-color: gold;
    position: absolute;
    left: rem-calc(18);
    bottom: 4px;
    width: 5px;
    height: 2px;
    z-index: -1;
    transition: all 0.3s ease-in-out;
  }

  &:hover::before {
    left: -5px;
    bottom: 0;
    height: 100%;
    width: calc(100% + 10px);
  }
}
