<div id="vanta"></div>

<div data-aos-delay="100" data-aos="zoom-in" class="about-container">
  <div class="about-container__content">
    <div class="about-container__content-top">
      <h1>Quem sou</h1>
      <h3>Sobre</h3>
      <p class="resume">Inspirado pela paixão à tecnologia, dedico-me a criação visual e interativa na web, embarcado na jornada como desenvolvedor front-end.</p>
    </div>
    <div class="about-container__content-info">
      <div>
        <p>Nome:</p>
        <p>Localidade:</p>
        <p>Idiomas:</p>
        <p>Email:</p>
        <p>Telefone:</p>
        <p>Atual profissão: </p>
      </div>
      <div>
        <p>Thomas Edson Porto da Silva</p>
        <p>Manaus - Brasil</p>
        <p>Português & Inglês (Avançado) </p>
        <p>thomas.edson@mail.com</p>
        <p>(91)98474 - 8005</p>
        <p>Militar</p>
      </div>
    </div>
    <div class="btn-container">
      <button class="btn btn-outline-warning">Acessar Currículo</button>
    </div>
  </div>
</div>
