<section class="about-container">
  <div class="content">
    <h1>A única forma de prever o futuro é criá-lo.</h1>
    <i>- Alan Kay</i>

    <div class="top-separator"></div>
    <div class="text-container">
      <div class="glass-effect">
        <div class="text-content">
          <p>
            Que tal seguirmos a fisolofia de Alan Kay e criar o futuro do seu
            negócio? <br />
            Sou Thomas, Desenvolvedor Web. Meu trabalho está além das linhas de
            código - é codificar visões e transformar negócios. Trabalhando
            profissionalmente desde 2019 na área da tecnologia, carrego uma
            experiência de muitos anos, iniciando no suporte técnico e
            posteriormente ao desenvolvimento de software. Tenho experiência
            trabalhando em Back End e Front End, tendo total liberdade de
            trabalhar integrando sistemas e facilitando a comunicação entre as
            equipes. <br />
            E aí, vamos codificar o seu futuro? 🚀
          </p>
        </div>
        <div class="text-timeline"></div>
      </div>
    </div>
    <div class="bottom-separator"></div>
  </div>
  <div class="video-container">
    <video #videoElement>
      <source src="../../../assets/animated background.mp4" type="video/mp4" />
    </video>
  </div>
</section>
