<section id="body-section">
  <div class="intro-container">
    <div class="intro-container__img">
      <img src="../../../assets/bg-home2.png" alt="foto de thomas" />
    </div>
    <div class="intro-container__text">
      <h1>Desenvolvedor Web</h1>
      <p>Sua Visão, Nosso Código: Criando o Futuro Digital</p>
      <div class="intro-container__text__networks">
        <a [href]="linkedin">
          <img
            src="../../../assets/icons/linkedin-icon.png"
            alt="linkedin ícone"
          />
          <p>Linkedin</p>
        </a>
        <a [href]="github">
          <img src="../../../assets/icons/github-icon.png" alt="github ícone" />
          <p>Github</p>
        </a>
      </div>
    </div>
  </div>
</section>
