@media (max-width: 630px) {
  .intro-container {
    flex-wrap: wrap;
  }

  .intro-container__text {
    position: absolute;
    z-index: 1;
    bottom: 5%;
    width: 100%;
    // font-size: rem-calc(100);
  }

  .intro-container__img {
    position: absolute;
    top: -1%;
    width: 100%;

    img {
      height: 400px;
      width: 280px;
    }
  }
}
